<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('日程管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>级别：</label>
                                <select name="jibie" th:with="type=${@dict.getType('jibie')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            
                            <li>
                                <label>内容：</label>
                                <input type="text" name="content"/>
                            </li>
                            <li class="select-time">
                                <label>开始时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginBeginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endBeginTime]"/>
                            </li> 
                            <li>
                                <label>状态：</label>
                                <select name="state" th:with="type=${@dict.getType('shenhe_state')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>创建人：</label>
                                <input type="text" name="createBy"/>
                            </li>
                            <li>
                                <label>发布者级别：</label>
                                <select name="fabuzhe" th:with="type=${@dict.getType('fabuzhe')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
 
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:richeng:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:richeng:remove')}]];
        var jibieDatas = [[${@dict.getType('jibie')}]];
        var stateDatas = [[${@dict.getType('shenhe_state')}]];
        var fabuzheDatas = [[${@dict.getType('fabuzhe')}]];
        var user = [[${user}]];
        var prefix = ctx + "system/richeng";

        $(function() {
            var options = {
                url: prefix + "/mlist",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "日程管理",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'jibie',
                    title: '级别',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(jibieDatas, value);
                    }
                },
                {
                    field: 'toUser',
                    title: '人员'
                },
                {
                    field: 'content',
                    title: '内容'
                },
                {
                    field: 'beginTime',
                    title: '开始时间'
                },
                {
                    field: 'endTime',
                    title: '结束时间'
                },
                {
                    field: 'state',
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(stateDatas, value);
                    }
                },
                {
                    field: 'createBy',
                    title: '创建人'
                },
                {
                    field: 'fabuzhe',
                    title: '发布者级别',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(fabuzheDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.state == '11' && row.createBy != row.toUser){
                        	actions.push('<a class="btn btn-success btn-xs  " href="javascript:void(0)" onclick="changeState(\'' + row.id + '\',\'0\')">申请撤销</a> ');
                         }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function changeState(id,state){
        	$.modal.confirm("确认操作？", function() {
        		$.operate.post(prefix + "/edit", { "id": id, "state": state });
        	})
        }
    </script>
</body>
</html>